#title{
  background-color: #ff4C68;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
h3
{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size:1.3rem;
  font-family:sans-serif;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform:rotate(25deg);
  position:absolute;
  right: 30%;
}
#features{
  padding: 8% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 3%;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
  background-color: #ef8172;
  color: #fff;
  text-align: center;
  padding-bottom: 3%;
}
.press-img{
  width:13%;
  margin-left:4%;
  margin-bottom:3%;
}
/* Pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2.5%;
}
@media(max-width:1028px){
  #title{
    text-align:center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
/* cta-section */
#cta{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding:7% 15%;
}
.cta-h3{
  font-size: 2.5rem;
}
/* footer section */
#footer{
  text-align: center;
  background-color: #fff;
  padding:3% 15%;
}
.footer-icon{
  margin: 20px 10px;
}
